<!DOCTYPE html>
<html>
  <%= render 'layouts/dochead' %>
  <body>
    <%= render 'layouts/header' %>
    <% if notice || alert %>
      <p class="alert-box primary notice"><%= notice %></p>
      <p class="alert-box primary alert"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
